<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @merged_files[:column_names].each do |column_names| %>
          <Cell><Data ss:Type="String"><%=column_names%></Data></Cell>
        <% end -%>
      </Row>
        <% @merged_files[:merged_files].each do |mf| %>
        <Row>
          <% mf.value.each do |key, value| %>
            <Cell><Data ss:Type="String"><%= value %></Data></Cell>
          <% end -%>
        </Row>
        <% end -%>
    </Table>
  </Worksheet>
</Workbook>